
    
            <div class="row">
                <div class="col-md-12">
            
                    <h2>Add Program</h2>
    
                    <br />
            
                    <form method="post" action="/programs/add">
                         <div class="form-group">
                             <label for="programCode">Program Code:</label>
                                <input type="text" class="form-control" id="programCode" name="programCode" required>
                            </div>
                         <div class="form-group">
                            <label for="programName">Program Name:</label>
                                <input type="text" class="form-control" id="programName" name="programName" required>
                            </div>
        
                         <button type="submit" class="btn btn-primary">Add Program</button>
                    </form>
                </div>