<div class="row">
    <div class="col-md-12">
        <h2>{{data.programName}} - Program Code: {{data.programCode}}</h2>
        <hr />
       <form method="POST" action="/program/update">
    <div class="form-group">
      <label for="programName">Program Name</label>
      <input type="text" class="form-control" id="programName" name="programName" value="{{data.programName}}" required>
    </div>
    <div class="form-group">
      <input type="hidden" name="programCode" value="{{data.programCode}}">
    </div>
    <button type="submit" class="btn btn-primary">Update Program</button>
  </form>
    </div>
</div>
